@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,200,300,400,500,600,700|Pacifico:100,200,300,400,500,600,700|Dancing+Script:100,200,300,400,500,600,700');

/*------------------------------------------Colours*/

html {
    height: 100%;
}

body {
    background-image: url(../images/background.jpg);
    min-height: 100%;
    padding-bottom: 250px;
    margin-bottom: 5px;
}

.container {
    min-height: 100vh;
}

.nav-home {
    background-color: #e84a09;
    box-shadow: -1px -1px 11px 1px black;
}

.nav-about {
    background-color: #7ce004;
    box-shadow: -1px -1px 11px 1px black;
}

.nav-catalogue {
    background-color: #1ab2fb;
    box-shadow: -1px -1px 11px 1px black;
}

.nav-functions {
    background-color: #d8ba17;
    box-shadow: -1px -1px 11px 1px black;
}

.nav-contact {
    background-color: #f70752;
    box-shadow: -1px -1px 11px 1px black;
}


/*------------------------------------------General Styles*/

.nav-item {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: "Pacifico";
    font-weight: 500;
    min-height: 50px;
    border-radius: 50px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 5px;
}

.nav-item-active {
    text-decoration: none;
    background-color: #444444;
    color: #d2d2d2;
    font-size: 20px;
    font-family: "Pacifico";
    font-weight: 500;
    min-height: 50px;
    border-radius: 50px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 5px;
}

.nav-item:hover,
.nav-item-active:hover {
    background-color: #444444;
    color: #d2d2d2;
    transition: 0.3s all ease-in-out;
    text-decoration: none;
    font-family: "Pacifico";
}

.uppercase {
    text-transform: uppercase;
}

/*------------------------------------------Header*/

.container {
    background-image: url(../images/monkees.jpg);
    background-size: cover;
    padding-top: 50px;
}

.brand {
    font-size: 50px;
    font-family: "Pacifico";
    color: #ffffff;
    text-align: center;
    background-color: rgba(68, 68, 68, 0.5);
    border-radius: 100px;
    margin-bottom: 25px;
}


div .li {
    padding-left: 5px;
    padding-right: 5px;
}


/*------------------------------------------Section*/

section {
    background-color: rgba(68, 68, 68, 0.7);
    color: #fafafa;
    font-family: "Noto Sans KR", sans-serif;
    height: 30%;
    margin-top: 25px;
    font-size: 16px;
}

section p {
    margin-bottom: 20px;
}

section h3 {
    font-family: "Pacifico";
    font-size: 24px;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 20px;
}


video {
    width: 100%;
    height: auto;
}



/*------------------------------------------About*/

.about-title {
    font-size: 35px;
    font-family: "Pacifico";
    color: #ffffff;
    text-align: center;
    background-color: rgba(68, 68, 68, 0.5);
    border-radius: 80px;
    margin-bottom: 15px;
}

.about-subtitle {
    font-size: 18px;
    font-family: "Noto Sans KR", sans-serif;
    color: #ffffff;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

.about-name {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
    font-family: "Dancing Script", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.about-img img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50%;
    height: auto;
}

.about-instrument {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
}

.dj {
    background-color: rgba(150, 0, 0, 0.4);
    border-radius: 50px;
}

.md {
    background-color: rgba(0, 150, 0, 0.4);
    border-radius: 50px;
}

.mn {
    background-color: rgba(0, 0, 150, 0.4);
    border-radius: 50px;
}

.pt {
    background-color: rgba(150, 0, 150, 0.4);
    border-radius: 50px;
}

/*------------------------------------------Catalogue*/

.cat-title {
    font-size: 35px;
    font-family: "Pacifico";
    color: #ffffff;
    text-align: center;
    background-color: rgba(68, 68, 68, 0.5);
    border-radius: 80px;
    margin-bottom: 25px;
}

.cat-name {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
}

.cat-img img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50%;
    height: auto;
}

.cat-audio {
    text-align: center;
    margin-bottom: 15px;
}


/*------------------------------------------Functions*/

.function-img {
    width: 100%;
    height: auto;
    padding: 5px;
}

i.fa.fa-download {
    color: #fafafa;
}

i.fa.fa-download:hover {
    color: #444444;
    transition: 0.3s all ease-in-out;
    text-decoration: none;
    font-size: 18px;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 2px;
}


a.btn {
    margin: 15px auto 10px;
    font-size: 20px;
    color: #fafafa;
}

.btn {
    border-color: #fafafa;
    width: 50%;
}



/*------------------------------------------Contact*/

.contact-heading {
    font-family: "Pacifico";
    font-size: 24px;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 20px;
}

.contact-hr {
    color: #fafafa;
    background-color: #fafafa;
    border: none;
    height: 1px;
    width: 50%;
}

.contact-p {
    padding-left: 10px;
}

.contact-li {
    padding-left: 10px;
}

.center-form {
    margin-top: 20px;
}

.btn {
    color: #d2d2d2;
    background-color: #444444;
    font-family: "Pacifico", sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-top: 15px;
}

.btn:hover {
    background-color: #d2d2d2;
    color: #444444;
    transition: 0.3s all ease-in-out;
}

form input {
    margin-bottom: 3px;
}



/*------------------------------------------Footer*/

footer {
    background-color: #d2d2d2;
    color: #444444;
    margin-top: 15px;
    padding-top: 10px;
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
}

.copyright {
    padding-bottom: 10px;
}

.copyright,
.contact,
.social {
    padding-top: 10px;
}


footer .contact i:hover {
    color: #444444;
    transition: 0.3s all ease-in-out;
    text-decoration: none;
    font-size: 18px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 250px;
    text-align: center;
}

.social-links {
    padding-bottom: 5px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.social-links li a i:hover {
    background-color: #444444;
}

.index-hr {
    border: none;
    height: 1px;
    color: #333;
    background-color: #333;
    width: 50%;
}


/*------------------------------------------Media Queries*/

@media(min-width:768px) {
    body{
        padding-bottom: 120px;
    }
    .logo {
        display: none;
    }
    section p {
        margin-bottom: 10px;
    }
    video {
        height: 250px;
    }
    footer {
        text-align: center;
    }
    .container {
        padding-top: 150px;
    }
    .contact,
    .social {
        padding-top: 20px;
    }
    .copyright {
        padding-top: 25px;
    }
    .section-column img {
        height: 170px;
    }
    .function-heading {
        padding-top: 5px;
    }
    .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    text-align: center;
    }
}

@media(min-width:992px) {
    body{
        padding-bottom: 120px;
    }
    .contact,
    .social {
        padding-top: 0;
    }
    .nav-item {
        margin-left: 2px;
        margin-right: 2px;
    }
    .section-column img {
        height: 190px;
    }
    .footer{
        height: 120px;
    }

}
